@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
